[[project_title]] - [[description]]
=========================================

More links:

-  `Blog @
   virantha.com <http://virantha.com/category/projects/[[project_name]]>`__
-  `Documentation @
   documentup.com <http://documentup.com/virantha/[[project_name]]>`__
-  `Source @ github <https://www.github.com/[[github_username]]/[[project_name]]>`__
-  `API docs @ gitpages <http://[[github_username]].github.com/[[project_name]]/html>`__

Usage:
------
See docs

Installation
------------
See docs


Disclaimer
----------
The software is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
